<header class="main-header">
    <div class="header-content">
        <a href="/admin.html" class="logo-link">
            <img src="/images/logo.png" alt="Логотип" class="logo-icon">
            <h1 class="site-title">CinemaRate</h1>
        </a>
        <span id="username-display" class="username-display">Loading...</span>
    </div>
    <div class="header-buttons">
        <a href="addMovie.html" class="header-btn add-button">Add Movie</a>
        <a href="register.html" class="header-btn login-button">Register</a>
        <a href="/index.html" class="header-btn header-button">Exit</a>
    </div>
</header>
